---
layout: default
---

<div class="home">
  <h1 class="pageHeading">Home</h1>
  <p>
    Hey all, I'm Apprehentice, a game developer born and raised in Los Angeles! This website
    is my stream of consciousness distilled into text and images for your viewing
    [dis]pleasure! Join me on my journey to make the next Mario World or Zelda or 
    something with all the joys and frustrations that come along with it!
  </p>
  <p>
    Reading this blog, you'll find that I like to hide stuff in the 
    <span title="If you read it, you'll be my best friend forever!">articles</span>. 
    Since this blog is a sort of stream of consciousness, I've decided that things
    posted here should stay here unless it's somehow harmful to leave it here. 
    Consider any transgressions or imbalances documentation of my personal development 
    and character building. After all, we never stop learning.
  </p>
  <p>
    If blogs aren't your thing, subscribe to me on 
    <a href="https://www.youtube.com/channel/UCxQbfRS9tm1BgcIN9Nw41kA">YouTube</a> or 
    follow me on <a href="https://mixer.com/Apprehentice">Mixer</a>. I do live 
    coding there and I'd love some company. God knows I can't focus on my work, 
    otherwise.
  </p>
  <h1>Recent Posts</h1>
  <ul class="postList">
    {% for post in site.posts limit: 5 %}
      <li>
        <span class="postMeta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="postLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <a href="{{ post.url }}">Read more...</a>
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
