<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
    if (document.querySelector('#twitch-channel') !== null) {
        new Twitch.Embed("twitch-channel", {
            width: "100%",
            height: "100%",
            channel: "apprehentice",
            // Only needed if this page is going to be embedded on other websites
            parent: ["127.0.0.1", "appr.pro"]
        });

        document.querySelector('#twitch-channel').style.minWidth = "100%";
        document.querySelector('#twitch-channel').style.minHeight = "75vh";
    }
</script>
<footer class="siteFooter">
    <p>Copyright © 2021 Apprehentice</p>
    <p>Contact: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
</footer>