<header class="siteHeader">
  <h1 class="siteTitle"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <nav class="siteNav">
    <a href="/">Home</a>
    <a href="https://www.github.com/{{ site.github_username }}">Projects</a>
    {% for page in site.pages %}
      {% if page.title %}
        {% if page.navbar == true %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a href="/posts/">Post Index</a>
  </nav>
</header>
